/* CartPageItem Component Styles */

.cart-page-product-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.cart-page-product-container .product-info .brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.cart-page-product-container .product-info .product-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin-top: 16px;
}

.cart-page-product-container .product-info .price {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-top: 20px;
}

.cart-page-product-container .product-info .attributes {
  margin-top: 20px;
}

.cart-page-product-container .product-info .attributes .attribute {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.cart-page-product-container .product-info .attributes .attribute .name {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.cart-page-product-container .product-info .attributes .attribute .values {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cart-page-product-container
  .product-info
  .attributes
  .attribute
  .values
  .value {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  cursor: pointer;
  margin: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
}

.cart-page-product-container
  .product-info
  .attributes
  .attribute
  .values
  .value:hover,
.cart-page-product-container
  .product-info
  .attributes
  .attribute
  .values
  .value.active {
  background: #1d1f22;
  color: #ffffff;
}

.cart-page-product-container
  .product-info
  .attributes
  .attribute
  .values
  .value.color-square {
  width: 32px;
  height: 32px;
  border: none;
}

.cart-page-product-container
  .product-info
  .attributes
  .attribute
  .values
  .value.color-square:hover,
.cart-page-product-container
  .product-info
  .attributes
  .attribute
  .values
  .value.color-square.active {
  border: 1px solid #5ece7b;
}

.cart-page-product-container .count-img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-page-product-container .count-wrapper {
  width: 45px;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-page-product-container .count-wrapper div:nth-child(1),
.cart-page-product-container .count-wrapper div:nth-child(3) {
  width: 45px;
  height: 45px;
  border: 1px solid #1d1f22;
  font-size: 36px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart-page-product-container .count-wrapper p {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #1d1f22;
}

.cart-page-product-container .product-img {
  position: relative;
  margin-left: 24px;
  height: 288px;
  width: 200px;
}

.cart-page-product-container .product-img img {
  height: 288px;
  width: 200px;
  object-fit: cover;
}

.cart-page-product-container .product-img div {
  position: absolute;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.73);
  cursor: pointer;
}

.cart-page-product-container .product-img .left {
  bottom: 16px;
  right: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-page-product-container .product-img .left img {
  width: 5.63px;
  height: 11.24px;
}

.cart-page-product-container .product-img .right {
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-page-product-container .product-img .right img {
  width: 5.63px;
  height: 11.24px;
  transform: rotate(180deg);
}

#bottom-line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin-top: 32px;
}
